node_modules
setup-structure.ps1
kabisilyaManagement.db-shm
kabisilyaManagement.db-wal
kabisilyaManagement.db
/.vs
/src/main/ipc/notification2
*.csv
package-lock.json
*.pdf
/release
/dist
.env
*.db-wal
App.db
*.db-shm
src/main/config/env.js
TODO
